body.single-product .bricks-variation-swatches.bricks-swatch-color .swatch-text {
    display: none;
}
body.single-product .variations_form.cart .variations label {
    color: #000;
    font-weight: 600;
}
body.single-product .variations_form.cart .variations label .selected-variation {
    color: #6e6e6e;
    font-weight: 400;
}
body.single-product .variations_form.cart .variations tr {
    display: block;
}

body.single-product table tr .bricks-variation-swatches.bricks-swatch-image li{
	padding: 8px 12px;
	border-color: transparent;
}
body.single-product table tr .bricks-variation-swatches.bricks-swatch-image .bricks-swatch-selected {
    border: 1px solid #478EFF;
    border-radius: 12px;
    
    background-color: #F2F3F6;
}
body.single-product table tr .bricks-variation-swatches.bricks-swatch-image .swatch-text span{
	font-size: 16px;
	font-weight: 500;
}
body.single-product table tr .bricks-variation-swatches.bricks-swatch-image .swatch-text small{
	font-size: 14px;
	line-height: normal;
}
body.single-product table tr .bricks-variation-swatches.bricks-swatch-image li img {
    width: auto;
    height: 37px;
    object-fit: unset;
}
.single-product .brxw-woo-add-to-cart table.variations tr td {
    grid-template-columns: none;
}
.single-product .brxw-woo-add-to-cart table.variations th {
    padding-top: 0;
    padding-bottom: 10px;
}
.brxw-woo-add-to-cart table.variations tr:first-child {
    border: none !important;
    padding-top: 5px;
}
body.single-product table tr .bricks-variation-swatches.bricks-swatch-image .swatch-text{
	padding-left: 5px;
}
.product-addon-row input[type="checkbox"] {
    width: 24px;
    height: 24px;
}
